/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

/* HEADER SETTINGS */
.header-settings {
  background-color: white;
  padding: 0 20px;
  line-height: 100px;
}

.first-logo {
  display: inline;
  vertical-align: middle;
}

.header-title {
  display: inline;
  vertical-align: middle;
}

/* MAIN INTERFACE */
.interface {
  margin: 50px auto;
  padding-left: 5%;
  padding-top: 30px;
  background-color: white;
  width: 80%;
  border-radius: 15px;
}

.button1 {
  display: inline-block;
  padding: 5px 5px;
  border: 1px solid turquoise;
  border-radius: 10px;
  color: white;
  background-color: turquoise;
}

.button2 {
  display: inline-block;
  padding: 5px 5px;
  border: 1px solid lightgray;
  border-radius: 10px;
  color: lightgray;
  background-color: white;
}
